<% layout('layouts/boilerplate')%>

    <div class="row text-center">
        <h1 class="text-center">Create Event</h1>
        <div class="col-6 offset-3">
            <form action="/events" method='POST' class='validated-form' novalidate enctype='multipart/form-data'>
                <div class='mb-3'>
                    <label class='form-label' for="title">Title</label>
                    <input class='form-control' type="text" id='title' name='event[title]' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class='mb-3'>
                    <label class='form-label' for="location">Location</label>
                    <input class='form-control' type="text" id='location' name='event[location]' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class='form-label' for="time">Time</label>
                        <input type="time" class="form-control" placeholder="00:00" aria-label="Time" id='time' name='event[time]' required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label class='form-label' for="date">Date</label>
                        <input type="date" class="form-control" placeholder="01.01.2020" aria-label="Date" id='date' name='event[date]' required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="price">Ticket Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">£</span>
                        <input type="text" id='price' class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name='event[price]' required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class='mb-3'>
                    <label class='form-label' for="description">Description</label>
                    <textarea class='form-control' rows='5' type="text" id='description' name='event[description]' required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-file custom-file mb-3">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text  custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
                <div class="mb-3">
                    <button class='btn btn-success'>Add Event</button>
                </div>
            </form>
            <a href="/events">All Events</a>
        </div>
    </div>
