<footer class='footer bg-dark py-3 mt-auto'>
    <div class='container'>
        <span class='text-muted'>
            &copy; BriSound 2020 - Created by <a href="https://www.d-march.com">D-March</a>
        </span>
    </div>
</footer>