<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BriSound</title>
    </head>
    <body>
        <h1>Home BriSound</h1>
    </body>
</html>
